In [ ]:
#2020-01-03

#anaconda prompt 들어가서 pip install pymysql  쓰고 온다.
# linux 마우스오른쪽버튼 새로생성 -> (사진)

In [ ]:
import pymysql
# 네트워크 접속 은 OS 관리 
conn = pymysql.connect(host='192.168.1.249',   #host 에는 내 아이피주소 
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)
cur = conn.cursor()   # 데이터베이스를 불러오는 것!! 



 #table 하나 만들어보자.
cur.execute("""CREATE TABLE pet 
            (id  INT NOT NULL AUTO_INCREMENT,  
            name VARCHAR(20), 
            owner VARCHAR(20),
            species VARCHAR(20), 
             sex CHAR(1), 
             birth DATE, 
             death DATE, PRIMARY KEY (id)) ENGINE=InnoDB AUTO_INCREMENT=1""")
print(cur.description)   # pet 이라는 데이터베이스가 만들어진다. 
conn.close          # 데이터베이스를 닫아줘야한다.

In [ ]:
conn = pymysql.connect(host='192.168.1.249',   #host 에는 내 아이피주소 
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)
cur = conn.cursor()  # 데이터베이스 연결해준다. 


# 데이터 집어넣기 

sql="""INSERT INTO pet (name, owner, species, sex, birth, death)
    VALUES (%s, %s, %s,%s,%s,%s) """  # sql -> 포맷문자열로 처음에 만들어두면 중복 안되게 편하게 넣을 수 있다. 
cur.execute(sql, ('유리', 'acorn', '고양이','f','2014-1-1','2016-2-1'))
cur.execute(sql, ('귀염', 'acorn', '강아지', 'f','2014-3-1','2016-9-1'))
cur.execute(sql, ('들이', 'acorn', '곰', 'f','2014-8-1','2018-2-1'))
conn.commit()

In [ ]:
#rowcount 로 몇개 영향미치는지 실제 원하는 갯수랑 맞는지 확인가능, 다들어갔는지 확인가능

In [ ]:
# 아래 같은 방법도 있다. (executemary 는 리스트로 데이터 넘겨주면서 여러개입력가능)
cur.executemany(  # DB 에서 NULL 은 PYTHON 에서 NONE 이다
    """ INSERT INTO pet(name, owner, species, sex,birth,death) 
    VALUES (%s, %s, %s,%s,%s,%s)""",
    [('대한','민주','cat','f','2001-02-04',None),
     ('민국','자유','cat', 'f', '2010-03-17', None),
     ('만세','민주','cat','f','2010-05-13',None),
     ('하자','민주','cat','m','2015-08-27',None),
     ('성공','자유','cat','m','2017-08-31','2018-04-29'),
    ])

conn.commit()
print(cur.rowcount)  # 5가 나온다. 내가 입력한게 5개였는데 여기서도 값이 5개 나온거니까 잘 쓴것!
conn.close    # 실제 Heidisql 가면 데이터채워져있다.  데이터베이스 닫아준다.!

In [ ]:
# 데이터 가져와보자

In [ ]:
cur = conn.cursor()
cur.execute('select * from pet')  #이거 실행하면 recordset 생성됨
print (cur.rowcount)   # 8
cur.description      # 설명

cur.fetchone()  # 1행 을 불러온다. ( fetchone 이 첫번째부터 행 1개씩 불러오는 것이다)
cur.fetchone()
cur.fetchone()
recs = cur.fetchmany(2)  # 2개의 행을 불러오는 것이다(4,5 행 불러오는것)
for rec in recs:
    print(rec)
recs = cur.fetchall()  # 모든 행을 불러오는 것이다. 
for rec in recs:
    print (rec)
cur.close()
conn.close()

In [ ]:
# 문제 : 생일이 2015-01-01 이후인 pet 을 출력하시오



# heidisql 가서 쿼리문 먼저 만든다. 

## Heidisql 가서 쿼리문 생성해서 아래처럼 입력한다. 
# 생일이 2015-01-01 이후인 pet 을 출력하시오
#SELECT * FROM pet WHERE birth >'2015-01-01';

In [ ]:
conn = pymysql.connect(host='192.168.1.249',   
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)

cur=conn.cursor()

cur.execute("""SELECT * FROM pet WHERE birth >'2015-01-01';""")  # 이거 실행하면 recordset 생성됨
row = cur.fetchall()
for pet in row:
    pet_val = list(pet.values())
    print("ID=%d, Name=%s, 주인=%s" % (pet_val[0], pet_val[1], pet_val[2]))

In [ ]:

# 문제 : 초심을 유리로 update 하시오
sql = 'update pet set name=%s where name=%s'
cur.execute(sql,('초심',"유리"))
conn.commit()
print(cur.rowcount)

# 문제 : 유리를 삭제하시오(쿼리를 일반화)
sql = 'delete from pet where name=%s'
cur.execute(sql, '초심')
conn.commit()
print(cur.rowcount)
cur.close()
conn.close()

In [ ]:
# 지금까지  리눅스 서버에 있는 데이터베이스를 파이썬으로 가져온것!

In [ ]:
# Heidisql pet 가서 오른쪽 마우스 버튼 누르고 새로새성 - 자동루틴
# 루틴 이름 : pet_select
# 루틴본문
#BEGIN
#	select * from pet;
#END

In [ ]:
#pet_select 라는 자동루틴 실행해보자. (항상 먼저 heidisql 가서 생성해줘야한다)
conn = pymysql.connect(host='192.168.1.249',   
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)

cur=conn.cursor()  # 이거 2개 문장은 항상 쌍으로 다녀야한다. (데이터베이스불러오기)

cur.callproc('pet_select')  
if(cur.rowcount) :          #가져온데이터가 있으면 fetchall 해라
    print(cur.fetchall())
cur.close()
conn.close()

In [ ]:
# 문제 insert 를 하는 프로시저를 생성한 다음
# ("마음이", "acorn","백구",'f', '2018-01-02', '2018-11-04') 데이터를 입력하라

In [ ]:
#항상 먼저 heidisql 가서 생성해줘야한다) -> 매개변수 6개추가해서 만들어주기
# 이름 : pet_insert 6개 매개변수 생성하고 본문에 내용 넣자.

In [ ]:
conn = pymysql.connect(host='192.168.1.249',   
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)

cur=conn.cursor() 

data = ("마음이", "acorn","백구",'f', '2018-01-02', '2018-11-04')
cur.callproc('pet_insert',data)  # 이렇게 하면서 데이터가 추가되는 것이다. 

conn.commit()  # 이걸 써야 다운이 된다. 

cur.close()
conn.close()

In [ ]:
# 저장프로시저 -> 이름 : pet_update
# 매개변수 3개 넣기 ( SERACHNAME, updatename, res ,  res는 문맥 out 지정)

#BEGIN
#	DECLARE cnt INT DEFAULT 0; # CNT=0 이고 INT 형을 만들라는 의미이다.
#	SELECT COUNT(*) INTO cnt FROM pet WHERE NAME = searchname; # 같은 놈이 있으면 count 가 올라감
#	IF cnt > 0 then UPDATE pet SET NAME = updatename 
#		WHERE NAME = searchname;
#		SET res = 0;  # 변수에 값을 넣을땐 SET 필수!
#	ELSE SET res = 2; # res 를 이용해서 정상이면 0을 return 없는 것이면 res =1 을 return 한다. 
#	END if ; 
#END

In [ ]:
conn = pymysql.connect(host='192.168.1.249',   
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)

cur=conn.cursor() 

date = ("마음이","마음",0)  #이거 3개인데 내부적으로  0,1,2 로 정해진다
cur.callproc('pet_update',date) 
cur.execute('SELECT @_pet_update_2')
#위에서 2가 return 값이다. 그래서 리턴 부르려면 update_2라고 한다.즉 이름이 결정 
result = cur.fetchone()
print(result['@_pet_update_2']) # 키이데이터 형식, 2번이면 수정할이름없다로 나옴
if result['@_pet_update_2'] == 2:
    print("수정할 이름이 없다")
else:
    print("성공적으로 수정되었다")
conn.commit() # 커밋써야 된다. 
cur.close()
conn.close()

In [ ]:
# 삭제하는 저장루틴만들자 ( 이름 : pet_delete)
# heidsql 가서 만들고 온다. 
#BEGIN
#	DECLARE cnt INT DEFAULT 0;
#	SELECT COUNT(*) INTO cnt from pet WHERE NAME = inname;  # count 에 나온값을 cnt 에 넣는다. 
#	if cnt > 0 then DELETE FROM pet WHERE NAME = inname;
#		set res = 0;
#	ELSE SET res = 2;
#	END if;
#END

In [ ]:
conn = pymysql.connect(host='192.168.1.249',   
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)

cur=conn.cursor() 

date = ('귀염', 0)
cur.callproc('pet_delete',date)
cur.execute('SELECT @_pet_delete_1')
result = cur.fetchone()
print(result['@_pet_delete_1'])
if result['@_pet_delete_1'] == 2:
    print("삭제할 이름이 없다")
else:
    print("성공적으로 삭제했다")
    
    
conn.commit()
cur.close()
conn.close()

In [ ]:
conn = pymysql.connect(host='192.168.1.249',   
                user='root',port=3306,password='dmsals0401',db='acconschool',
                charset='utf8mb4',use_unicode=True,
                       cursorclass=pymysql.cursors.DictCursor)

cur=conn.cursor() 

try:  #Exception : 예외처리 : 프로그램은 지속적으로 실행되어야하므로 
    date = ('귀염', 0)
    cur.callproc('pet_delete',date)
    cur.execute('SELECT @_pet_delete_1')
    result = cur.fetchone()
    print(result['@_pet_delete_1'])
    if result['@_pet_delete_1'] == 2:
        print("삭제할 이름이 없다")
    else:
        print("성공적으로 삭제했다")
except:
    conn.db.rollback()
cur.close()
conn.close()

In [ ]:
# 시도했다 ->> 실행했는데 error 가 걸리면 except문으로 간다. (예외 처리)
# 프로그램은 지속적으로 실행되어야 하므로 try - except 문을 사용한다. 

# 즉 except 문에 롤백을 썼으므로 실행하다 error 가 나면 데이터 실행전으로 돌아간다.

In [ ]:
#hgybid sql 에 student 만들기
# 저장루틴만든다 sungjuk_insert  (매개변수4)
# 저장루틴 : sungjuk_select 
# 저장루틴 : sungjuk_update (매개변수 6)
# 저장루틴 : sungjuk_delete

In [ ]:
# 도서관리 프로그램, 게시판, 전화부관리 등등

In [24]:
import pymysql
class Student:
    def __init__(self):
        self.bunho = 0
        self.name =''
        self.kor = 0
        self.eng = 0
        self.mat = 0
        self.total = 0
        self.average = 0
        self.grade = ""
    def inputData(self):
        self.name = input("이름을 입력하세요")
        self.kor = eval(input("국어 점수:"))
        self.eng = eval(input("영어 점수:"))
        self.mat = eval(input("수학 점수:"))
    def calc_total_average(self):
        self.total = self.kor + self.mat + self.eng
        self.average = round(self.total/3,2)
        self.grade =self.calcSemGrade()
    def calcSemGrade(self):
        if self.average >= 90:
            return "A"
        elif self.average >= 80:
            return "B"
        elif self.average >= 70:
            return "C"
        elif self.average >= 60:
            return "D"
        else:
            return "F"
        
    def __str__(self):           
        return '%5s %5s %6s %6s %6s %7s %7s %s' %(self.bunho,self.name, self.kor, self.mat, self.eng, self.total, self.average, self.grade)
    def __cmp__(self,other):
        return self.name == other.name
    def __call__(self,other):  # 클래스를 함수처럼 사용하고자 할때 오버라이딩
        st = []
        for student in other:
            stp = Student()
            stp.name=student[0]
            stp.kor = student[1]
            stp.eng = student[2]
            stp.mat = student[3]
            st.append(stp)
        return st

In [25]:
class maria:
    schoolname = "에이콘 아카데미"
    def __init__(self):
        self.conn = pymysql.connect(host='192.168.1.249', port=3306, user='root',
                           password='dmsals0401',db='acconschool', charset='utf8',
                                    autocommit=True)
        cor = self.conn.cursor()
        cor.execute("SHOW TABLES") 
        tables = cor.fetchall()
        c = []
        for i in tables:
            if  i == ('sungjuk',):  # 콤마가 없으면 error 가 난다. 
                c.append(i)
        if len(c) != 0:
            sungjuk_table = "SELECT * FROM sungjuk"
            cor.execute(sungjuk_table)
            print('테이블이 있습니다. ')
        else:
            cor.execute("CREATE TABLE sungjuk (name VARCHAR(20), kor INTEGER(20),  mat INTEGER(20),eng INTEGER(20))")
            print('sungjuk테이블을 생성하였습니다. ')
    def __del__(self):
        self.conn.close()

    def selectdb(self ):   
        cur = self.conn.cursor()
        cur.callproc("sungjuk_select")
        if (cur.rowcount):
            stu = list(cur.fetchall())
        else :
            stu = 0;
        cur.close()
        return stu
   
    def insertdb(self,name, kor, mat, eng):
        cur = self.conn.cursor()
        args = (name, kor, mat, eng)
        cur.callproc("sungjuk_insert",args)
        cur.close()
       
    def updatedb(self, in_name, up_name):
        cur = self.conn.cursor()
        args = (in_name, up_name, 0)
        cur.callproc("sungjuk_update", args)
        cur.execute('SELECT @_sungjuk_update_2')
        result = cur.fetchone()
        if result==2 :
            print("수정할 이름이 없습니다.")
        else :
            print("성공적으로 수정하였습니다. ")
        cur.close()
        return result 
   
    def deletedb(self,in_name):
        cur = self.conn.cursor()
        args = (in_name, 0)
        cur.callproc("sungjuk_delete", args)
        cur.execute('SELECT @_sungjuk_delete_1')
        result = cur.fetchone()
        if result==2 :
            print("삭제할 이름이 없습니다.")
        else :
            print("성공적으로 삭제하였습니다. ")
        cur.close()
        return result

In [26]:
from math import  *
from statistics import *

class Management:
    def __init__(self):
        self.maria = maria()
    def M_select(self):
        data = self.maria.selectdb()
        st = []
        if (data):
            for student in data:
                stp = Student()
                stp.name = student[0]
                stp.kor = student[1]
                stp.eng = student[2]
                stp.mat = student[3]
                st.append(stp)                    
            # studdata=Student((data))
            print(maria.schoolname + "  성적 계산표 ")
            print('%5s %5s %6s %6s %6s %6s  %6s %6s' % ('번 호', '이 름', '국 어',
                    '수 학', '영  어', '총 점', '평 균', '학 점' ))      
            for stud in st:
                print( stud)                     
        else :
            print("데이터가 없습니다. . ")
           
    def M_insert(self):
        stu = Student()          # 데이터 입력
        stu.inputData()
        self.maria.insertdb(stu.name, stu.kor, stu.mat, stu.eng)
    def M_update(self):
        name = input("검색할 이름을 입력하시요")
        replace_name = input("수정할 이름을 입력하시요") 
        # 이름 찾아서 다른 과목도 바꿀거면 sql 가서 매개변수 추가한다.
        #replace_kor = eval(input("국어"))
        #replace_mat = eval(input("수학"))
        #replace_eng = eval(input("영어"))
        #result=self.maria.updatedb(name, replace_name,replace_kor,replace_mat,replace_eng)
        # 라고 하면 된다.  replace_kor 가 매개변수의 in_kor 랑 맵핑이 된다. 
        result=self.maria.updatedb(name, replace_name)  
    def M_delete(self):       
        name = input("검색할 이름을 입력하시요")
        self.maria.deletedb(name)

In [27]:
#전화번호 만들거나  등등 과제내개

In [28]:
import sys
class Menu():
    def __init__(self):
        self.manage = Management()
       
    def work(self):
        menu = [ "전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)"]
        manage = Management()
        while 1:
            sel = input(menu)
            if  sel == "1":
                manage.M_select()
                continue
            elif sel == "2":
                manage.M_insert()
                continue       
            elif sel =="3":
                manage.M_update()
                continue
            elif sel =="4":
                manage.M_delete()
            elif sel =="9":
                del(manage)
                sys.exit()
            else :
                print("잘못된 입력입니다. 다시입력 하시요")
                continue
           
menu = Menu()
menu.work()

테이블이 있습니다.
테이블이 있습니다.
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']1
에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     1    김은민     40     20       0       0
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']2
이름을 입력하세요김은민
국어 점수:20
영어 점수:30
수학 점수:40
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']1
에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     1    김은민     40     20       0       0
    0     2    김은민     40     20       0       0
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']3
검색할 이름을 입력하시요김은민
수정할 이름을 입력하시요김은민민
성공적으로 수정하였습니다.
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']1
에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     1   김은민민     40     20       0       0
    0     2   김은민민     40     20       0       0
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']4
검색할 이름을 입력하시요김은민민
성공적으로 삭제하였습니다.
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']1
데이터가 없습니다. .
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)']9

SystemExit:

C:\Users\ICT01_17\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
#pycharm 다운받기(커뮤니티하자)
#w3schools 라고 구글검색 (html example 에 쓰인 것과같이 쓰여야한다. ) -> 공부사이트 
#image, table, link, javascript 가 중요
# # bootstrap 
#인프런 html ,css 이거 보자.

In [ ]:
#pycharm  다운
# add launchers dir to the path 체크
 
    #실행
설치하고 나서
anaconda prompt 에 pip install flask 해주기