In [ ]:
# pandas 가 나타내는 자료구조 : Series, DataFrame, Panel
# pandas 의 base 는 numpy 로 numpy 방식의 인덱싱이 가능 
# + numpy 에 dict 를 더하면서 중복을 허용하고 순서를 보장하면서 데이터를 처리한다.

In [ ]:
import pandas as pd
data = {'a':0. , 'b':1.,'c' :2.}  # dict 형태로 초기화하고 있다. 
s=pd.Series(data)  # s 는 series 가 됐다. -> 넘파이, 딕셔너리 형식으로 인덱싱이 가능하다. s 는 1차원이다. 

print(s['a']) # 키이 인덱싱이 가능하다. 
s=pd.Series(data,index=['b','c','d','a']) # 키이가 인덱스로 변하고 인덱스는 행이름이 된다. 

print(s['a'])  
print(s['d']) # d 는 데이터가 없다 -> nan 이 나온다. 
list(s)

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

s['f']=10
print(s)
print()
print()
print(s*2)

In [ ]:
s =pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'] ) # d위에선 딕셔너리로 데이터를 뒀는데 이번엔 1,2,3,4,5 의 리스트를 넣었다.
# a=1, b=2, ...e=5 가 된다. 
 
print("인덱스에 의한 출력",s[0])   # 순서에 의한 인덱싱도 가능하고
print(s['a'])  #키이에 의한 인덱싱도 가능하다. 

print(s[:3]) # 처음부터 3번까지 ( 넘파이에 쓰던 것 으로 넘파이에 쓰던 것을 판다스에서도 쓸 수 있다 ) 
print("음수",s[-3:])
s['a']=100 # 값을 update 

print(s['a'])
s['f']=10 # f 라는 것 추가 
print(s['f'])

print("filtering 에 의한 춣력", s[s>4])  # boolean 인덱스 (F,F,F,T)
print(s)
print(s*2)  # 각요소에 2 곱해진것

In [ ]:

import numpy as np
data = np.array(['a','b','c','d'])  # data 를 ndarray 로 초기화

# Rangeindex 객체가 자동으로 생성된다. 
# range 의 결과값 -> 리스트
# arange 의 결과값 -> ndarray
# RangeIndex -> index

s=pd.Series(data)  # ndarray 로 series 를 만들었다. 
print("시리즈 데이터",s.values) # s.values 하게 되면 값들만 출력이 된다. (index 는 출력이 안된다) 
print("시리즈 인덱스",s.index)  # rangeindex 라고 나온다. 
print("시리즈 초기화" ,s)
print("시리즈 인덱스의 값",s.index.values)
print(s[0])
print(s.head())
print(s.value_counts()) # 도수  분포표  
print(s.value_counts(normalize=True)) # 사이즈 1로 -> 상대도수 분포표가 된다. 
print(s.describe()) # 숫자변수에 대해서만 출력하라!! , 문자열-> object

print("데이터 타입은:" , s.dtypes)
print("차원",s.ndim)
print("차수",s.shape)

In [ ]:
sdata = {'Ohio' : 35000, "Texas" : 71000, "Oregon" : 16000, "Utah" : 5000}
obj3 = pd.Series(sdata)
print(obj3)
print()
states=['California',"Ohio","Oregon","Texas"]
obj4 = pd.Series(sdata,index=states)
print(obj4)
print()
print(pd.notnull(obj4))
print()
print("객체 출력")
print()
print(obj3 + obj4)

In [ ]:
sdata={'Ohio':35000, "Texas":71000, "Oregon":16000,"Utah":5000}  # dict 데이터를 가지고 초기화했음
obj3 = pd.Series(sdata)
print(obj3)
print(obj3.shape) #4개 (series 는 1차원) 
states = ['California','Ohio',"Oregon","Texas"]  # 캘리포니아 -> nan 이 될 것 (데이터가 없으니까 ) 
obj4 = pd.Series(sdata, index = states)
print(obj4)
print("시리즈 인덱스",obj3.index) # range index 가 아니라 그냥 index 이다. 
print("시리즈 인덱스",obj4.index)# 이것도 그냥 index  -> 이때 데이터 타입은 object ( =문자열 ) 
print("null이 있는가",pd.isnull(obj4)) # 데이터가 null 인가?



print("결측치가 있는가",pd.notnull(obj4)) # 값이 있을때 true 
print("객체 출력")
print("obj3 을 출력합니다.",obj3)
print("obj4 을 출력합니다.",obj4)
# 짝이 맞지 않으면 연산이 불가능 (index 가 다름 )  -> 근데 연산이 됨 -> 짝이 없는건 NaN ( pandas 연산의 특징이다 ) -> 
# pandas 연산 : 짝이맞지않아도 연산이 가능하나, 짝이 없는건 NaN
print("연산결과를 출력합니다",obj3+obj4)

In [ ]:
s=pd.Series(['A','B','Aaba',"Baca",np.nan,'CABA',"cat"])
# series 는 내부적으로 string 함수도 지원한다. 
s.str.count('a')
# count 함수로 a 의' 개수를 센다

In [ ]:
import matplotlib.pyplot as plt
s=pd.Series([1,2,2.5, 3, 3.5, 4,5])
s.plot.kde() # kernel density estimate ->실제데이터는 7개인데  부드러운 곡선으로 그려진다. 
plt.show()  # -> 어떻게 부드럽게 그려지나? 데이터가 없는 부분은 kernel 로 예측한다. 
                #kernel 이 여기서는 디폴트로 가우시안 분포

# https://darkpgmr.tistory.com/147

In [ ]:
s.plot.kde(bw_method=0.003) # 숫자조금줬다-> 조금조금씩 예측한다 ->  과적합 된다. -> 굴곡이 일어난다. 
# 넓게 예측하라는 건 뭉떵하게 예측, 조금씩 예측하는 건 당연히 굴곡이 생기게 된다. (0.3 대신 3 넣어봐라)
plt.show()

In [ ]:
import pandas as pd
 
data = {
    'year': [2016, 2017, 2018],
    'GDP rate': [2.8, 3.1, 3.0],
    'GDP': ['1.637M', '1.73M', '1.83M']
}
 
df = pd.DataFrame(data)
df

In [ ]:
import pandas as pd
# 데이터프레임은 행인덱스와 열인덱스 
area = pd.Series({'California': 423967, 'Texas': 695662, # series 는 행인덱스를 줬었다. 
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})  #'area' 는 열이름으로 쓰이고 있고, area 는 값으로 쓰이고 있다. 
data 

data.axes

In [ ]:
data['area'] # area 가 열이름이다. 
data.area   # 데이터.필드이름 으로 접근해도 같다. 위의 인덱스방식이랑 같은 것이다.

In [ ]:
 # 객체 비교( is  를 이용)  앞에서 is None 일때 썼었음
data.area is data['area']

In [ ]:
data[data['area']>600000]

In [ ]:
# 객체에서 변수를 실시간으로 추가하는 것이 가능하다.
# 리스트는 append 로 추가했음
data['density'] = data['pop']/data['area']  
data

In [ ]:
data.values  #  ( 값만 가져온다. )=> ndarray 가 나온다 -> numpy 의 함수로 처리
data.index
data.columns     
print(data.axes)

In [ ]:
data.T

In [ ]:
 data.T  # 전치

In [ ]:
data.values[0] # 행값을 가져온다 # 이렇게 쓰면 행인지 열인지 헷갈려서 iloc 를 만든다.

In [ ]:
data

In [ ]:
data.iloc[:3,:2] #숫자로 인덱싱 할때는  iloc / 키이로 인덱싱할때는 loc  # 행과열로 입력한다.

In [ ]:
data.loc[:'Illinois',:'pop']  # 키이가 순서가 보장이 안되는데 판다스에서는 보장이 된다.

In [ ]:
data['Florida':'Illinois']

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['김하나','이하나','삼하나','사하나','오하나','육하나','칠하나', '팔하나']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

In [ ]:
df

In [ ]:
df = pd.DataFrame(d)
print(df)
print('축',df.axes)
print("데이터 타입",df.dtypes)
print("데이터 타입",df.get_dtype_counts) # get_dtype_counts 하면 unique ( 중복무)-> 중복이 없다. 
print("비었나",df.empty)  # 데이터가 비었니? 
print("차원",df.ndim)
print("차수",df.shape)
print("사이즈",df.size)
print('값',df.values)
print(df.head(2))
print(df.tail(2))

In [ ]:
df

In [ ]:
print(df.describe(include='all'))

In [ ]:
print("합계",df.sum()) # 전체데이터합
print(df.mean()) # 숫자만 적용
print(df.std()) # standard deviation 표준편차 
print(df.describe()) # 숫자만 적용
print('오브젝트',df.describe(include=['object'])) # 문자
print(df.describe(include='all')) # unique, top, freq 가 추가돼서 출력된다.

In [ ]:
# 1) state 만 출력하시오
# 2) debt 열을 추가하고 모든 값을 16.5 로 입력하시오
# 3) debt 를  pd.Series([-1.2, -1.5, -1.7], index =['two','four','five']) 로 수정하시오
# 4) 파생변수 'estern' 에 주소가 서울인가를 따져 서울은 true 아니면 false 가 입력되게 하시오

In [ ]:
data={'state': ['경기','강원','서울','충북','인천'],
     'year' : [2000,2001,2002,2001,2002],
     'pop': [1.5 , 1.7, 3.6, 2.4, 2.9]}
frame2 = pd.DataFrame(data, index=['one','two','three','four','five'])
frame2

In [ ]:
data={'state': ['경기', '강원', '서울', '충북', '인천'],
      'year':[2000,2001,2002,2001,2002],
      'pop':[1.5,1.7,3.6,2.4,2.9]}

frame2=pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                 index=['one', 'two', 'three', 'four', 'five']) 
frame2

In [ ]:
#1번 :  state 는 열이니까 아래처럼 접근한다. 
print(frame2['state'])
print(frame2.state)

In [ ]:
#2) 키이데이터식으로 넣어주면 된다. 

frame2['debt'] = 16.5 
print("debt 값 적용후",frame2)

In [ ]:
#3 # 2,4,5 에만 값을 바꿔봐라. 

val = pd.Series([-1.2, -1.5, -1.7], index =['two','four','five'])
frame2['debt']=val
print(frame2)

In [ ]:
#4. 
frame2['estern']=frame2.state=="서울"
#자동으로 하나씩 가져와서 비교한다. 
print(frame2.columns)

In [ ]:
# 만약 지우고싶다면
del frame2['estern']

In [ ]:
frame2

In [ ]:
# 행열로 데이터 ㅊ ㅏㅈ을때 열이 먼저온다.
print(frame2['year']['one'])

In [ ]:
# 우리는 행,열순이 편하다. 그럴땐 loc / iloc
print(frame2.loc['one','year'])

In [ ]:
# \시간함수
# 리눅스 : timestamp  (1970.1.1 이후로 경과된 mili 초로 표현)

# 판다스에서 내부적으로 데이터를 저장할때는 timestamp 형식으로 저장한다. 
# pandas 에서는 nano 초까지 표현한다. 
# 시간인덱스 : 시계열분석 : Datatimeindex, periodindex주기값을 지원한다. 

# 타임패키지의 타임은 파이썬에서 사용하는 것
# time.time() : 2000.1.1 부터 경과된 mili 초로 표현
#datatime(날짜와 시간을 표현)

In [ ]:
import time
print(time.time()) # 밀리초로 표현 (. 앞이 시분초/ . 뒤가 밀리초이다 ) 
print(time.localtime())  # 연월일, 시분초로 바꿔준다. 
yesterday = time.localtime(time.time()-60*60*24)  # --> 이런식으로 시간 연산도 가능하다. 
yesterday
print(yesterday)
time.strftime('%Y %m %d')  # time.strftime  을 쓰면 괄호뒤의 포맷으로 출력된다 (문자열로 변경됨)

In [ ]:
from datetime import date, time, datetime, timedelta    # 시간차
now = datetime.now()  # now 를 붙여주면 연, 월, 일 시분초를 출력한다.               
print(now)
now.year, now.month, now.day
now.timestamp() # 시간을 밀리초로 표현하고 싶을 때, timestamp 를 호출한다. 

# 연월일로 출력되고 있다가 timestamp 에 의해서 밀리초로 표현

In [ ]:
now_str = now.strftime('%Y-%m-%d %H:%M;%S')# 이런형식으로 문자열을 만든다 (년월일시분초로 표현)
print(now_str)  # 문자열이다.

In [ ]:
# 문자열로 들어오는 것 을 파싱한다. ('2019-11-01 11:49:09" 와 같은 것을 날짜형식으로 변환해준다. )
datetime.strptime(now_str, '%Y-%m-%d %H:%M;%S')

In [ ]:
delta = datetime(2015,1,7) -datetime(2010,6,24,8,14)

In [ ]:
print("시간차는=",delta,delta.days,delta.seconds)  # 초로표현하면 56760 만큼 차이나고, ??

In [ ]:
print("시간차는=",delta)

In [ ]:
start = datetime(2019,1,7)
print(start+timedelta(12)) # 기본이 날짜로 12일 이후의 날짜를 출력해준다

In [ ]:
start + timedelta(hours=-5) # 5시간 전을 표현해준다.

In [ ]:
# 판다스에서 시간
import pandas as pd
print(pd.datetime.now())
print(pd.Timestamp('2017-03-01'))
print(pd.Timestamp(1587687255,unit='s'))

In [ ]:
# 행을 지시하는 DatetimeIndex  만들어보자.      
print(pd.date_range("11:00","13:30",freq="30min")) # data_range 는 datetimeindex 를 생성한다.
# 행은 인덱스, 열키는 colunms 라고 했다. 
#11시부터 1시30분까지 30분 단위로 만든다.



print("시간으로", pd.date_range("11:00","13:30",freq="30min").time) # 그중 시간만 빼겠다

print(pd.date_range("11:00","13:30",freq="H")) # hour

In [ ]:
# 지정된 시간을 DatetimeIndex 로 생성
print(pd.to_datetime(pd.Series(['Jul 31, 2009','2010-01-10',None])))
print(pd.to_datetime(['2005/11/23','2010.12.31', None]))

In [ ]:
print(pd.date_range('1/1/2017',periods=5))  # 기본주기는 일간격이다.

In [ ]:
print(pd.date_range('1/1/2017',periods=5,freq="M"))

In [ ]:
ts=pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000',periods=1000)) # 1000일에 대해서 
# 날짜별로 np.random.randn(1000) 이 출력이 된다. 
ts=ts.cumsum()    
ts.plot()

df=pd.DataFrame(np.random.randn(1000,4),index=ts.index, columns=list('ABCD')) #index=ts.index --->  ts 에 있는 index 를 그대로 사용해라 
# 1000x 4 로 이름은 A,B,C,D 인 데이터가 만들어진다. 
df=df.cumsum()
df.plot()
df.plot.bar()

In [ ]:
data={'state': ['경기', '강원', '서울', '충북', '인천'],
      'year':[2000,2001,2002,2001,2002],
      'pop':[1.5,1.7,3.6,2.4,2.9]}

frame2=pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                 index=['one', 'two', 'three', 'four', 'five']) 
frame2

In [ ]:
# 문제 다음 데이터를 데이터프레임에 저장하시요
#         지역  2018     2017   2016     2015 2015-2018증가율
# 서울 수도권  9904312 9631482 9762546 9853972    0.0283
# 부산 경상권  3448737 3393191 3512547 3655437    0.0163
# 인천 수도권  2890451 2632035 2517680 2466338    0.0982
# 대구 경상권  2466052 2431774 2456016 2473990    0.0141

In [ ]:
# 컬림 이름과 INDEX 이름은 다음과 같을 때 문제를 풀어라.
columns = ['지역','2015','2016','2017','2018','2015-2018 증가율']
index = ['서울','부산','인천','대구']

In [ ]:
# 문제 : '2015-2018 증가율' 을 % 로 변경하시오
# 문제 : 2015-2017 의 증가율을 구해서 변수를 추가하시오
#   ( 열이름 : '2015-2017 증가율')

In [ ]:
data={'2016' : [9762546,3512547,2517680,2456016],
      '2017' : [9631482,3393191,2632035,2431774],
      '2018' : [9904312,3448737,2890451,2644052],
      '2015' : [9853972,3655437,2466338,2473990],
      '2015-2018 증가율' : [0.0283,0.0163,0.0982,0.0141],
      '지역' : ['수도권','경상권', '수도권', '경상권']}

df = pd.DataFrame(data,columns=['지역','2015','2016','2017','2018','2015-2018 증가율'],
                 index=['서울','부산','인천','대구'])

  
df

In [ ]:
#1번
df['2015-2018 증가율']=df['2015-2018 증가율']*100
df

In [ ]:
#2번
df['2015-2017 증가율'] = (df['2015']-df['2017'])/df['2015']
df